extends ../layout 

block content 
    div(class="container mt-4 showroom")
        div(class="row")
            div(class="col-sm-3")
            
                h5
                    strong Contactez-nous 
                p 
                    strong Addresse : 
                    br
                    | Zaitair, Derrière le terrain de basket
                    br
                    | Mamou Centre, Guinée.
                p 
                    strong Téléphone : 
                    | +224 622 21 45 42
                p 
                    strong Email : 
                    | sabus@contact.com
                h5 
                    strong Produit
                p 
                    strong Nome: 
                    | #{product.name}
                p 
                    strong Reference : 
                    | #{product.reference}
                p 
                    strong Famille : 
                    | #{product.family}
