doctype html
html(dir="rtr" lang="fr")
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/vendor/icofont/icofont.min.css")
    link(rel="stylesheet", href="/vendor/boxicons/css/boxicons.min.css")
    link(rel="stylesheet", href="/vendor/remixicon/remixicon.css")
    link(rel="stylesheet", href="/vendor/animate.css/animate.min.css")
    link(rel="stylesheet", href="/vendor/owl.carousel/assets/owl.carousel.min.css")
    link(rel="stylesheet", href="/vendor/owl.carousel/assets/owl.carousel.min.css")
    link(rel="stylesheet", href="/vendor/aos/aos.css")
    link(rel="stylesheet", href="/vendor/font-awesome/css/all.css")
    link(rel="stylesheet", href="/vendor/coreui/css/coreui.min.css")
    link(rel="stylesheet", href="/stylesheets/admin.css")
  body.c-app
    div(class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-show")
      .c-sidebar-brand 
        h4 Sabus Shop
      ul.c-sidebar-nav
        li.c-sidebar-nav-title
          i(class="bx bxs-dashboard mr-2")
          | Dashboard
        li.c-sidebar-nav-item 
          a(href="/admin/products" class="c-sidebar-nav-link") 
            i(class="c-sidebar-nav-icon icofont icofont-shopping-cart")
            | Products
        li.c-sidebar-nav-item 
          a(href="/admin/categories" class="c-sidebar-nav-link") 
            i(class="bx bxs-group c-sidebar-nav-icon")
            | Categories
        li.c-sidebar-nav-item 
          a(href="/admin/users" class="c-sidebar-nav-link") 
            i(class="icofont icofont-users c-sidebar-nav-icon")
            | Users 
        li.c-sidebar-nav-item 
          a(href="/admin/images" class="c-sidebar-nav-link") 
            i(class="icofont icofont-image c-sidebar-nav-icon")
            | Images 


    div(class="c-wrapper" style="background:white")
      .c-header 

        if user
          a(href="/admin/"+user.id+'/me' class="c-header-brand ml-auto mr-4")
            i(class="icofont icofont-user mr-2")
              span=user.username
        if !user
          div.ml-auto 
            i(class="icofont icofont-user mr-2")
            span(class="c-header-brand mr-4") anonymous 
        a(href="/admin/logout" class="c-header-nav mr-4") 
          i(class="icofont icofont-logout mr-2")
      .c-body 
        .c-main
          block content

    script(src="/vendor/jquery/jquery.min.js") 
    script(src="/vendor/waypoints/jquery.waypoints.min.js") 
    script(src="/vendor/popper/popper.min.js")  
    script(src="/vendor/aos/aos.js") 
    script(src="/vendor/bootstrap/js/bootstrap.bundle.min.js")
    script(src="/vendor/coreui/js/coreui.min.js")
    script(src="/vendor/font-awesome/js/all.js")  
    script(src="/javascripts/admin.js") 
