extends layout

block content
  .container
    #products 
      each product in products 
        div(class="card mt-4")
          .card-img
            img(src=product.image_url, alt="Produits-"+product.reference, width="auto", height="145px")
          h5(class="card-title") #{product.name}
          a(href=product.url class="card-detail") Détails 
    div(class="container mt-b mt-4 d-flex justify-content-center")
      div(class="pagination d-flex")
        a(href="#" class="page-link") 1 
        a(href="#" class="page-link") 2 
        a(href="#" class="page-link") 3 