extends layout

block content
  .container
    #products 
      each product in products 
        .card 
          h5(class="card-title") #{product.name}
          a(href="#" class="card-detail") Détails 