doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header(class="navbar navbar-dark" style="background:red")
      div(class="container")
        a(href="/" class="navbar-brand d-flex align-items-center logo")
          h3(class="m-0") Sabu's
        
        ul(class="navbar-nav flex-direction-row")
          li(class="nav-item mr-4")
            a(href="/nos-produits/electromenager" class="nav-link") Electroménager 
          li(class="nav-item mr-4")
            a(href="/nos-produits/telephone" class="nav-link") Téléphone

    block content
    footer.mt-4
      .container
        p 
          strong &copy; 2021 Sabu's Guinea.
        span Created by 
          a(href="#") Stardev Agency
