extends layout 
block content 
    div(class="container mt-4 showroom")
        h1(class="mt-4 mb-4 text-center") #{title}
        .row
            .col-sm-4
                h4= product.name 
                p 
                    strong Reference : #{product.reference}
                p 
                    strong Famille : #{product.family}
            .col-sm-2
            .col-sm-2
            .col-sm-4
                h4 Contactez-nous 
                p 
                    strong Addresse : 
                    | Gadha Loppe,
                    | Mamou, Guinée.
                p 
                    strong Téléphone : 
                    | +224 655 55 55 55
                p 
                    strong Email : 
                    | sabus@contact.com
