extends ../layout

block content
  div(class="banner-small d-flex align-items-center")
      .container
          .row 
              div(class="col-sm-6")
                  h5 
                      span.sabus Sabu's Shop 
                  p Le magasin d'électronique le plus proche de vous. 
  .container
    h5(class="mt-4")=title
    #products 
      each product in products 
        div(class="card mt-4")
          .card-img
            img(src=product.image_url, title="Produits-"+product.reference, height="145px", width="145px")
          .card-title
            h5(class="card-title") #{product.name}
          a(href=product.url+'/details' class="card-detail") Détails 
    div(class="container mt-b mt-4 d-flex justify-content-center")
      div(class="pagination d-flex")
        a(href="#" class="page-link") 1 
        a(href="#" class="page-link") 2 
        a(href="#" class="page-link") 3 