.bg-white {
  color: inherit;
  background-color: #fff;
}
.color-white {
  color: white;
}

ul {
  padding: 0;
  margin: 0;
}
a{
  text-decoration:  none !important;
}
.wallpiper {
  display: flex;

  align-items: center;
  justify-content: center;
} 
.fixed-bottom {
  left: 256px !important;
}

