body {
  font-family: 'Open Sans', sans-serif;
  
}

h1, h2, h3, h4, h4, h6 {
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#products {
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 325px;
  width: 208px;
  padding: 8px;
  margin: 5px;
  position: relative;
  border: 1px solid #ccc;
}

.card-detail {
  position: absolute;
  bottom: 35px;
  right: 35px;
  font-size: 14px;
  color: black;
}