/**
* Website Name: Sabus - v1.0.0
* Author: Abdoulaye Diallo
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h4, h6 {
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
.bg-color {
  color: white;
  background: #FF0000;
}

.authForm {
  height: 61vh;
}
.authForm2 {
  height: 57vh;
}
/*--------------------------------------------------------------
# Bootstrap  
--------------------------------------------------------------*/
.nav-link {
  font-size: 16px;
}

/*--------------------------------------------------------------
# Header  
--------------------------------------------------------------*/
header {
  box-shadow: 0px 0px 1px #aaa;
}
.navbar-nav {
  flex-direction: row;
}

.logo h3 {
  font-family: serif;
  font-weight: 900;
}

/*--------------------------------------------------------------
# Banner 
--------------------------------------------------------------*/
.banner {
  height: 60vh;
  color: white;
  background: linear-gradient(rgba(82, 82, 82, 0.5) 50%, rgba(82, 82, 82, 0.5) 0%),url('/images/banner.JPG') no-repeat;
  background-position: center;
  background-size: 100%;
  transition: all .3s;
}

.banner-small {
  height: 30vh;
  border-bottom: 1px solid rgb(230, 230, 230);
  transition: all .3s;
  background: red;
  color: white;
}
.banner h1 {
  font-size: 48px;
  font-weight: 700;
}

.banner h2 {
  font-size: 24px;
}
.banner p, .banner-small p {
  font-weight: 300;
  font-size: 18px;
}

/*--------------------------------------------------------------
# Cards 
--------------------------------------------------------------*/
#products {
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 325px;
  width: 208px;
  padding: 8px;
  margin: 5px;
  position: relative;
  border: 1px solid #ccc;
  transition: all .3s;
}

.card:hover{
  box-shadow: 0px 0px 7px rgb(204, 204, 204);
}

.card-img {
  height: 150px;
  max-width: 200px;
  text-align: center;
}

.card-title {
  font-size: 15px;
  padding-top: 10px;
  text-align: center;
}
.card-detail {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 14px;
  color: rgb(87, 87, 87);
}

.card-detail:hover {
  color: inherit;
}
.btn {
  font-size: 14px;
}

/*--------------------------------------------------------------
# Thumbs  
--------------------------------------------------------------*/
.thumbs{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.thumb {
  width: 170px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: all .3s
}

.thumb:hover {
  background: rgb(230, 230, 230);
}
.thumb-img {
  height: 150px !important;
  width: 150px !important;
}

.thumb-name p {
  text-align: center;
  margin-top: 8px;
  font-size: 13px;
  font-weight: 600;
}
.prd-title {
  font-size: 15px;
}
.prd-plus {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.prd-block span {
  margin-bottom: 20px;
  font-weight: 700;
}

/*--------------------------------------------------------------
# Footer  
--------------------------------------------------------------*/
footer {
  padding: 20p 0x;
  color: white;
  border-top: 1px solid rgb(204, 204, 204);
  background-color: black;
}

footer p {
  margin-bottom: 0;
}

footer span {
  font-size: 13px;
}
.social-links{
  margin-top: 15px;
}

.social-links a {
  display: inline-block;
  height: 36px;
  width: 36px;
  padding: 8px 0;
  border-radius: 4px;
  margin-right: 4px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.08);
  color: white;
  text-align: center;
  line-height: 1;
  transition: 0.3s;
}
.social-links a:hover {
  background: #FF0000;
}