extends layout 
block header 
    header(id="header2" class="navbar navbar-light" style="background: white;")
      div(class="container")
        a(href="/" class="navbar-brand d-flex align-items-center logo")
          img(src="/images/logo/sabu's 2.png", alt="Logo" height="50" class="mr-2")
          h3(class="m-0") Sabus

        ul(class="navbar-nav flex-direction-row")
          li(class="nav-item mr-4")
            a(href="/users/register" class="nav-link") Electroménager
          li(class="nav-item mr-4")
            a(href="/users/register" class="nav-link") TV
          li(class="nav-item mr-4")
            a(href="/users/register" class="nav-link") Cuisine