extends ../layout 

block content 
    div(class="banner-small d-flex align-items-center")
        .container
            .row 
                div(class="col-sm-6")
                    h5 
                        span.sabus Sabu's Shop 
                    p Le magasin d'électronique le plus proche de vous. 
    div(class="container mt-4 showroom")
        .row
            .col-sm-3
            
                h5
                    strong Contactez-nous 
                p 
                    strong Addresse : 
                    br
                    | Zaitair, Derrière le terrain de basket
                    br
                    | Mamou Centre, Guinée.
                p 
                    strong Téléphone : 
                    | +224 622 21 45 42
                p 
                    strong Email : 
                    | sabus@contact.com
                h5 
                    strong Produit
                p 
                    strong Nome: 
                    | #{product.name}
                p 
                    strong Category : 
                    | #{product.category.name}
                p 
                    strong Model : 
                    | #{product.features.model}
